<nav>
      <a href="/budget">Budget Book</a>
</nav>
<div id="control">
</div>
<div id="main">
	<div id="input">
		<form method="GET" action="/spending.php">
			<input type="hidden" name="created" value="2016-01-06 00:20:11" />
			<dl><dt>金額</dt><dd><input type="text" name="amount" /></dd></dl>
			<dl><dt>日付</dt><dd>12月26日<span><a href="">変更</a></span></dd></dl>
			<dl><dt>分類</dt><dd>
				<select name="type">
					<option value="private" selected="selected">私費</option>
					<option value="expense">経費</option>
				</select>
			</dd></dl>
			<dl><dt>カテゴリ</dt><dd>
				<select name="category">
					<option value="食費" selected="selected">食費</option>
					<option value="食費">交通費</option>
					<option value="食費">交際費</option>
					<option value="食費">趣味</option>
				</select>
			</dd></dl>
			<dl>
				<dt>メモ</dt>
				<dd><textarea name="memo"></textarea></dd>
			</dl>
			<div><input type="submit" value="保存"/></div>
		</form>
	</div>
	<div id="monthly">
		<div id="sum">
			<p>出費:￥100,290</p>
		</div>
		<div id="calendar">
		ここにカレンダー
		</div>
	</div>
</div>
