<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Language" content="ja" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<title>Budget Book</title>
	<style>
body {
	margin: 0;
	padding: 0;
}
#main {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 200%;
}
#main:after {
	content: " ";
	display: block;
	clear: both;
}
#input {
	float: left;
	width: 50%;
}
#monthly {
	float: left;
	width: 50%;
}
	</style>

</head>
<body>
    <nav>
          <a href="/budget">Budget Book</a>
    </nav>
	<div id="control">
	</div>
	<div id="main">
		<div id="input">
			<form>
				<dl><dt>金額</dt><dd><input type="text" /></dd></dl>
				<dl><dt>日付</dt><dd>12月26日<span><a href="">変更</a></span></dd></dl>
				<dl><dt>分類</dt><dd>
					<select>
						<option selected="selected">私費</option>
						<option>経費</option>
					</select>
				</dd></dl>
				<dl><dt>カテゴリ</dt><dd>
					<select>
						<option selected="selected">食費</option>
						<option>交通費</option>
						<option>交際費</option>
						<option>趣味</option>
					</select>
				</dd></dl>
				<div><input type="submit" value="保存"/></div>
			</form>
		</div>
		<div id="monthly">
			<div id="sum">
				<p>出費:￥100,290</p>
			</div>
			<div id="calendar">
			ここにカレンダー
			</div>
		</div>
	</div>
</body>
</html>
